<footer class="footer">
  <div class="footer-content">
    <div class="footer-logo">
      <img src="assets/logo/logo.png" alt="Logo" class="logo-image">
      
    </div>
    <div class="footer-logo"><span>Sistema Clínico</span></div>
    <p class="footer-text">
      Sistema integral para la gestión de imágenes diagnósticas y atención médica
    </p>
    
    <div class="footer-links">
      <a href="#" class="footer-link">Política de Privacidad</a>
      <a href="#" class="footer-link">Términos de Uso</a>
      <a href="mailto:soporte@sistemaclinico.com" class="footer-link">Soporte</a>
      <a href="#" class="footer-link">Documentación</a>
    </div>
    
    <div class="footer-copyright">
      © 2024 Sistema Clínico. Todos los derechos reservados.
    </div>
  </div>
</footer>
